/* app css stylesheet */

body {
  padding-top: 20px;
  background: #F1B82C;
	margin-left: 4px;
	margin-right: 4px;
}

.userphoto {
	margin-right: 4px;
}

.userphoto img {
	margin-right: 4px;
  border-style: solid;
  border-width: 1px;
}

.snsb {
	overflow: hidden;
}
.snsb li {
	float: left;
	margin-right: 4px;
}
.snsb iframe {
	margin: 0 !important;
}

.items {
  /* list-style: none; */
}

.items li {
 padding-top: 15px;
 margin: 10px;
 width: 400px;
 height: 450px;
 display: inline-block;
}

.item {
  margin: 10px;
  padding:5px;
  background-color:#ffffff;
  -webkit-box-shadow: 0 10px 8px -6px #8d8c8c;
  -moz-box-shadow: 0 10px 8px -6px #8d8c8c;
  box-shadow: 0 10px 8px -6px #8d8c8c;
}

.thumbnail {
  height: 300px;
  width: 300px;
}

.filter-condition{
  padding-bottom: 10px;
}
.reverse {
  font-size: 15pt;
}
